[submodule "tools/vcpkg"]
	path = tools/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
	ignore = dirty
[submodule "third_party/tokenizers-cpp"]
	path = third_party/tokenizers-cpp
	url = https://github.com/DeployQL/tokenizers-cpp.git
